body {
    color: #e6f0ff;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #3366ff;
  }
  
  h1{
    font-family: Tahoma;
  }
  
  #description{
    font-family: Tahoma;
    font-size: 1em;
  }
  
  
  heading{
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    padding: 1em;
    background-color: blue;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    text-align: cente;
    margin: 0 auto;
    padding-bottom: 2em;
    font-family: Tahoma;
  }
  
  fieldset{
    border: none;
  }
  
  label{
    display: block;
    margin: 0.5em auto;
  }
  
  #name, #email, #number{
    display: block;
  }
  
  input[type="submit"]{
    margin: 0.5em auto
  }
  
  #dropdown{
    margin: 1em auto auto auto;
    display: block;
  }
  
  textarea{
    margin-top: 0.5em;
  }
  
  label p{
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  input, textarea{
    background-color: #3366ff;
    color: white;
    borders: 
  }
  
  ::placeholder {
    color: white;
  }